IDONIA_BASE_URL=https://connect-staging.idonia.com
IDONIA_API_KEY=
IDONIA_API_SECRET=

IDONIA_DICOM_DESTINATION=dicom_hak_num13
IDONIA_REPORT_DESTINATION=report_hak_num13
IDONIA_MAGIC_LINK_ID=hacknum13
IDONIA_MAGIC_LINK_PASSWORD=

RECOG_BASE_URL=https://api.recog.es
RECOG_API_KEY=

PATIENT_DNI=12345678X
CASE_ACCESSION_NUMBER=Traslados desde Asturias
CASE_STUDY_DESCRIPTION=RM de Rodilla Picos de Europa

STUDY_FILE_PATH=data/input/estudio
REPORT_FILE_PATH=data/input/informe_original.pdf
HUMANIZED_REPORT_FILE_PATH=data/output/informe_explicativo_paciente.pdf
